td, th {
    font-size: large;
    border: solid;
    color: darkgreen;
}

.active_page {
    color: rgba(255,99,71,0.99);
}

.button_page {
    color: white;
    border: 2px solid green;
    margin: 5px;
    padding: 10px;
    font-size: large;
}